* {

}
html {
  min-width: 100%;
  min-height: 100%;
  background-image: url('images/portfolio 8 copyflip.jpg');
  background-repeat:no-repeat;
  background-size:100%; /*will need several breakpoints?*/
  background-position: 70% 100% ;
  background-color:RGB(211,211,211);
  /*can make a linear gradient after submitting wireframe
  background-color: linear-gradient(direction, color-stop1, color-stop2, ...);*/

  /*need to look at the line in the middle of the page. It's from background
  color and image*/
}
body {

}

header {
  width:100%;
  height:35px;
  margin-top:15px;

}

#navBar {
  background-color:RGB(211,211,211);
  width:100%;
  height:100%;
}

h1 {
  margin:0;
  font-size:24px;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

li {
  float:right;
  display:block;
}

.myName {
margin:0;
line-height:1.25;
font-size:30px;
}

.bigLetter {
  font-size:80px;
  /*color: RGB(93,188,210);*/
}

#jonathan {
  margin-top:30px;
}

#retchless {
  margin-left:40px;
}

#headline {
  margin-top:0;
}
/*about me page*/


/*projects page*/
.quizShot {
  width:100%;
}

/*github page*/


/*linkedin page*/


/*contact page*/
