* {

}
html,body {
  min-height:100%;
}
html {
  min-width: 100%;
  background-image: url('images/img691.jpg');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: 70% 100% ;
  background-color: rgb(252,254,253);

  /*need to look at the line in the middle of the page. It's from background
  color and image*/
}
body {

}

header {
  width:100%;
  height:35px;
  margin-top:15px;

}

#navBar {

  width:100%;
  height:100%;
}

h1 {
  margin:0;
  font-size:24px;
  text-align:center;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

li {
  float:right;
  display:block;
}

  #aboutMe::after {
    content: "|";
}

#homeLink {
  width:100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 15px;
}

.myName {
margin:0;
line-height:1.25;
font-size:30px;
}

.bigLetter {
  font-size:80px;
  /*color: RGB(93,188,210);*/
}

#jonathan {
  margin-top:30px;
}

#retchless {
  margin-left:40px;
}

#headline {
  margin-top:0;
}
/*about me page*/

#bio {
  margin-top:30px;
}

/*projects page*/
.quizShot {
  width:100%;
}

/*breakpoints*/
@media screen and (min-width:528px) {
  .myName {
    line-height:.5;
    font-size:45px;
  }
  #jonathan {
    margin-bottom:35px;
    margin-left:30px;
  }
  #retchless {
    margin-left:75px;
  }
  #headline {
    font-size:20px;
    margin-top:15px;
    margin-left:15px;
  }
}

@media screen and (min-width:768px) {
  #jonathan {
    margin-bottom:35px;
    margin-left:60px;
  }
  #retchless {
    margin-left:105px;
  }
  #headline {
    text-align:center;
    font-size:20px;
    margin-top:15px;
    margin-left:40px;
  }
}
@media screen and (min-width:1200px) {



.myName {
  text-align:center;
  line-height:.5;
  font-size: 70px;
  margin-right:450px;

}
.bigLetter {
  font-size:130px;
}
#headline {
  float:right;
  margin-top:40px;
  margin-right:50px;
}
#jonathan {
  margin-top:0;
  margin-bottom:55px;
}
#retchless {
  margin-left:185px;
}
li {
  font-size:30px;
}
}
